cython==0.29.0
sentencepiece
tensorflow==1.14.0
tensorflow_hub
tf_sentencepiece
bs4
numpy
scikit-learn
nltk
more_itertools
spacy
gensim
tika
matplotlib
pydotplus
pandas
git+https://github.com/guillaumegenthial/tf_metrics.git
imbalanced-learn
ray
filelock
setproctitle
psutil
