sentencepiece==0.1.83
tensorflow==1.14.0
tensorflow_hub==0.6.0
tf_sentencepiece==0.1.83
bs4
numpy==1.17.3
scikit-learn==0.21.3
nltk==3.4.5
more_itertools==7.2.0
spacy==2.2.1
gensim==3.8.1
tika==1.19
matplotlib==3.1.1
pydotplus==2.0.2
pandas==0.25.2
git+https://github.com/guillaumegenthial/tf_metrics.git
imbalanced-learn==0.5.0
ray
setproctitle
